:root{
  --transparent:#00000000;
  --transparent-black: #0000004f;
  --black: #000000;
  --white: #ffff;
  --gray: #929292 ;
  --soft-black: #131417;
  --soft-transparent-black: #00000081;
  --soft-blue: #2d64fc;
  --soft-transparent-blue: #2d64fcb0;
  --soft-gray: #cfcfcf;
  --soft-transparent-gray: #cfcfcf3b ;
  --sm: 1.6rem;
  --md: 2.4rem;
  --md2: 3.4rem;
  --lg: 4.5rem;
  --xl: 8.5rem;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}
html{
  scroll-behavior: smooth;
}
/*------------------------Estilos para menu desplegable------------------- */
.menuBackground{
  width: 100%;
  height: calc(100%);
  position: fixed;
  top: 0;
  background-color: var(--soft-transparent-black);
}
.projectDetailMenuBackground{
  width: 100%;
  height: calc(100%);
  position: fixed;
  top: 0;
  background-color: var(--soft-transparent-black);
  z-index: 3;
  cursor: pointer;
}
.active {
  display: grid;
}

.disable {
  display: none;
}

.primaryIcon{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: var(--xl);
  text-align: center;
  border: 2px solid var(--transparent);
  border-radius: 4px;
  transition: .3s;
  text-decoration: none;
  color: var(--black);
}
.primaryIcon:hover{
  color: var(--soft-blue);
}

/*-----------------------------Estilos Generales--------------------------------- */
.bigDescriptioninBlackBackground{
  color: var(--white);
  padding-bottom: 20px;
  font-size: var(--md2);
  font-weight: bold;
  text-align: center;
}
.bigDescriptioninWhiteBackground{
  color: var(--black);
  padding-bottom: 20px;
  font-size: var(--md2);
  font-weight: bold;
  text-align: center;
}

/*-----------------------------Estilos de navbar--------------------------------- */
nav{
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0;
  height: 60px;
  padding: 0 24px;
  display: flex;
  z-index: 2;
}

nav .navContanier{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.links{
  display: flex;
}

.navContanier .links li{
  list-style: none;
}

.navContanier .links li a{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: var(--sm);
  text-align: center;
  border: 2px solid var(--transparent);
  border-radius: 4px;
  transition: .3s;
  text-decoration: none;
  color: var(--white);
}
.navContanier .links li a:hover{
  border: 2px solid var(--soft-blue);
  -webkit-box-shadow: 0px 0px 48px 0px var(--soft-blue);
  -moz-box-shadow: 0px 0px 48px 0px var(--soft-blue);
  box-shadow: 0px 0px 48px 0px var(--soft-blue);
}

.navContanier .links li a:active{
  border: 2px solid var(--soft-blue);
  background-color: var(--soft-blue);
}

.navContanier .links li a{
  border-radius: 6px;
}

nav .menu{
  display: none;
}

nav .social-media{
  display: flex;
}

nav .social-media a,
nav .menu a{
  color: var(--white);
}

nav .social-media i,
nav .menu i{
  padding: 8px;
  font-size: var(--md);
  cursor: pointer;
  transition: .3s;
}

nav .social-media i:hover,
nav .menu i:hover{
  color: var(--soft-blue);
}
/*-----------------------Estilos de inicio------------------------------ */

#begin {
  background: linear-gradient(var(--soft-transparent-blue) 30%,var(--transparent)) ,url("./assets/Logotype/Logo-de-pagina-extendido.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#begin .begin-container {
  display: flex;
  flex-direction: column;
}

#begin .begin-container p,
#begin .begin-container h2{
  text-align: center;
  font-size: var(--lg);
  color: var(--white);
  /* -webkit-text-stroke: .1px black; */
}
#begin .begin-container .welcome-text{
  font-size: var(--sm);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

#begin .begin-container .beginBotton{
  display: flex;
  justify-content: center;
}

#begin .begin-container .beginBotton #jobPortfolio{
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid var(--white);
  border-radius: 50px;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
  font-size: var(--sm);
}

#begin .begin-container .beginBotton #jobPortfolio:hover{
  border: 2px solid var(--soft-blue);
  -webkit-box-shadow: 0px 0px 48px 0px var(--soft-blue);
  -moz-box-shadow: 0px 0px 48px 0px var(--soft-blue);
  box-shadow: 0px 0px 48px 0px var(--soft-blue);
}

/*-----------------------Estilos de sobre mi------------------------------ */
#aboutMe{
  padding: 60px 15px;
  color: var(--black);
  display: flex;
}

#aboutMe .aboutMeContainer{
  max-width: 750px;
  margin: 0 auto;
}
.sectionTitle{
  padding-bottom: 20px;
  font-size: var(--md2);
  text-decoration: underline;
  text-decoration-color: var(--soft-transparent-blue);
  text-decoration-thickness: 5px;
  font-weight: bold;
  text-align: center;
}

.description{
  font-size: var(--sm);
  text-align: justify;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 28px;
  height: auto;
}

.primaryButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.primaryButton{
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  padding: 20px 25px;
  border: 2px solid var(--black);
  border-radius: 50px;
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
  font-size: var(--sm);
  text-align: center;
  cursor: pointer;
}

.primaryButton:hover{
  color: var(--white);
  background-color: var(--soft-blue);
}
.activePrimaryButton{
  color: var(--white);
  background-color: var(--soft-blue);
  border: 2px solid var(--soft-blue);
  -webkit-box-shadow: 0px 0px 48px 0px var(--soft-blue);
  -moz-box-shadow: 0px 0px 48px 0px var(--soft-blue);
  box-shadow: 0px 0px 48px 0px var(--soft-blue);
}

/*-----------------------Estilos de proyectos------------------------------ */
#portfolioOfJob{
  background-color: var(--soft-black);
  color: var(--white);
  padding: 60px 30px 20px ;
}

#portfolioOfJob .categoryButtonContainer{
  margin-bottom: 45px;
}

#portfolioOfJob .projectsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#portfolioOfJob .projectsContainer .project {
  width: 218px;
  height: 218px;
  border: 1px solid var(--black);
  margin: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#portfolioOfJob .projectsContainer .project img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  transition: .5s;
}

#portfolioOfJob .projectsContainer .project:hover img {
  filter: grayscale(0);
}

#portfolioOfJob .projectsContainer .project .descriptionProjectContainer {
  position: absolute;
  left: 0px;
  background-color: var(--soft-transparent-black);
  color: var(--white);
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
  font-size: var(--md);
}
#portfolioOfJob .projectsContainer .project:hover .descriptionProjectContainer{
  opacity: 1;
  bottom: 0;
}
#portfolioOfJob .projectsContainer .project:active .descriptionProjectContainer {
  background-color: var(--soft-transparent-blue);
}

/*----------------------Estilos de detalles de proyecto-------------------------- */
#projectDetail{
  width: 100%;
  height: 100%;
  position: fixed;
  place-items: center;
  z-index: 4;
  overflow: hidden;
}
#projectDetail .projectDetailsContainer{
  cursor: default;
  padding: 20px;
  max-width: 600px;
  max-height: 90vh;
  position: relative;
  background-color: var(--white);
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius: 10px;
}
.list{
  font-size: var(--sm);
  text-align: justify;
  font-weight: 200;
  margin: 0 30px 0;
  
}
.closeContainer{
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 5px;
  position: absolute;
  text-align: center;
  justify-content: center;
  top: .5%;
  left: 93.5%;
  z-index: 7;
  font-size: var(--md);
  background-color: var(--white);
  color: var(--gray);
  border: 1px solid var(--soft-gray);
  transition: .5s;

}
.closeContainer:hover{
  background-color: var(--soft-blue);
  color: var(--white);
  transition: .5s;
}

.usedToolsContainerInProjectdetails{
  display: grid;
  place-content: center;
  margin-bottom: 20px;
  max-width: 600px;
}

/*---- Estilos de galeria de proyectos ----*/
#GalleryProjectContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#GalleryProjectContainer .imageOfGallery{
  max-width: 220px;
  height: 150px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  object-fit: cover;
}
#GalleryProjectContainer .imageOfGallery:hover {
  transform: scale(1.1);
}

#zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Ajusta la opacidad del fondo oscuro */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: pointer;
}

#zoom-overlay img {
  max-width: 90%;
  max-height: 90%;
  cursor: default;
}
/*-----------------------Estilos de footer--------------------------------------- */
#pageDetails{
  background-color: var(--black);
  color: var(--gray);
  padding: 30px 15px 15px 30px;
}
.sectionSubtitle{
  padding-bottom: 20px;
  font-size: var(--md);
  text-decoration: underline;
  text-decoration-color: var(--soft-transparent-blue);
  text-decoration-thickness: 5px;
  font-weight: bold;
  text-align: center;
}


/*------------------------------media query-------------------------------------- */


@media (max-width: 395px){
  .navContanier .links{
    position: absolute;
    background-color: var(--black);
    top: 60px;
    width: 150px;
  }
  nav .menu{
    display: block;
  }
  .active {
    display: grid;
  }
  .disable {
    display: none;
  }
  .projectsContainer{
    grid-template-columns: repeat(auto-fill, 140px);
  }

  .GalleryContainer{
    grid-template-columns: repeat(auto-fill, 200px);
  }
  #projectDetail{
    margin: 5px;
    height: 100vh;
  }
  .closeContainer{
    left: 90%;
  }
}

@media (max-height: 580){

}