:root{
  --black: #000000;
  --white: #ffff;
  --gray: #929292 ;
  --soft-black: #131417;
  --soft-transparent-black: #00000081;
  --soft-blue: #2d64fc;
  --soft-transparent-blue: #2d64fc69;
  --sm: 1.6rem;
  --md: 2.4rem;
  --md2: 3.4rem;
  --lg: 4.5rem;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}
html{
  scroll-behavior: smooth;
}
/*------------------------Estilos de para menu desplegable------------------- */
.menuBackground{
  width: 100%;
  height: calc(100%);
  position: fixed;
  top: 0;
  background-color: var(--soft-transparent-black);
}
.active {
  display: block;
}

.disable {
  display: none;
}

/*-----------------------------Estilos de navbar--------------------------------- */
nav{
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0;
  height: 60px;
  padding: 0 24px;
  display: flex;
  z-index: 2;
}

nav .navContanier{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.links{
  display: flex;
}

.navContanier .links li{
  list-style: none;
}

.navContanier .links li a{
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: var(--sm);
  text-align: center;
  border: 2px solid var(--black);
  border-radius: 4px;
  transition: .3s;
  text-decoration: none;
  color: var(--white);
}
.navContanier .links li a:hover{
  border: 2px solid var(--soft-blue);
  -webkit-box-shadow: 0px 0px 48px 0px var(--soft-blue);
  -moz-box-shadow: 0px 0px 48px 0px var(--soft-blue);
  box-shadow: 0px 0px 48px 0px var(--soft-blue);
}

.navContanier .links li a:active{
  border: 2px solid var(--soft-blue);
  background-color: var(--soft-blue);
}

.navContanier .links li a{
  border-radius: 6px;
}

nav .menu{
  display: none;
}

nav .social-media{
  display: flex;
}

nav .social-media a,
nav .menu a{
  color: var(--white);
}

nav .social-media i,
nav .menu i{
  padding: 8px;
  font-size: var(--md);
  cursor: pointer;
  transition: .3s;
}

nav .social-media i:hover,
nav .menu i:hover{
  color: var(--soft-blue);
}
/*-----------------------Estilos de inicio------------------------------ */

#begin {
  background: linear-gradient(var(--soft-transparent-black) , var(--soft-transparent-blue)),url("https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#begin .begin-container {
  display: flex;
  flex-direction: column;
}

#begin .begin-container p,
#begin .begin-container h2{
  text-align: center;
  font-size: var(--lg);
  color: var(--white);
}
#begin .begin-container .welcome-text{
  font-size: var(--sm);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

#begin .begin-container .beginBotton{
  display: flex;
  justify-content: center;
}

#begin .begin-container .beginBotton #jobPortfolio{
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid var(--white);
  border-radius: 50px;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
  font-size: var(--sm);
}

#begin .begin-container .beginBotton #jobPortfolio:hover{
  border: 2px solid var(--soft-blue);
  -webkit-box-shadow: 0px 0px 48px 0px var(--soft-blue);
  -moz-box-shadow: 0px 0px 48px 0px var(--soft-blue);
  box-shadow: 0px 0px 48px 0px var(--soft-blue);
}

/*-----------------------Estilos de sobre mi------------------------------ */
#aboutMe{
  padding: 60px 15px;
  color: var(--black);
  display: flex;
}

#aboutMe .aboutMeContainer{
  max-width: 750px;
  margin: 0 auto;
}
.sectionTitle{
  padding-bottom: 20px;
  font-size: var(--md2);
  text-decoration: underline;
  text-decoration-color: var(--soft-transparent-blue);
  text-decoration-thickness: 5px;
  font-weight: bold;
  text-align: center;
}

.description{
  font-size: var(--sm);
  text-align: justify;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 28px;
}

.primaryButtonContainer {
  display: flex;
  justify-content: center;
}
.primaryButton{
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid var(--black);
  border-radius: 50px;
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
  font-size: var(--sm);
  text-align: center;
}

.primaryButton:hover{
  color: var(--white);
  background-color: var(--soft-blue);
}

/*-----------------------Estilos de proyectos------------------------------ */
#portfolioOfJob{
  background-color: var(--soft-black);
  color: var(--white);
  padding: 60px 30px;
}

#portfolioOfJob .projectsContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin-top: 60px;
  margin-bottom: 30px;
}

#portfolioOfJob .projectsContainer .project {
  max-width: 218px;
  max-height: 218px;
  border: 1px solid var(--black);
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#portfolioOfJob .projectsContainer .project img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: .5s;
}

#portfolioOfJob .projectsContainer .project:hover img {
  filter: grayscale(0);
}

#portfolioOfJob .projectsContainer .project .descriptionProjectContainer {
  position: absolute;
  left: 0px;
  background-color: var(--soft-transparent-black);
  color: var(--white);
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
  font-size: var(--md);
}
#portfolioOfJob .projectsContainer .project:hover .descriptionProjectContainer{
  opacity: 1;
  bottom: 0;
}
#portfolioOfJob .projectsContainer .project:active .descriptionProjectContainer {
  background-color: var(--soft-transparent-blue);
}

/*----------------------Estilos de detalles de proyecto-------------------------- */
#projectDetail{
  position: fixed;
  z-index: 4;
  margin: 30px;
  overflow-y:auto;
  height: 90vh;
}
#projectDetail .projectDetailsContainer{
  padding: 20px;
  background-color: var(--white);
}
.list{
  font-size: var(--sm);
  text-align: justify;
  font-weight: 200;
  margin: 0 30px 0;
}
.closeContainer{
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 7;
  text-align: center;
  font-size: var(--md);
  border-radius: 50%;
  background-color: var(--soft-blue);
  color: var(--white);
  border: 1px solid var(--black);
  
}

.usedToolsContainerInProjectdetails{
  margin-bottom: 20px;
}
.GalleryContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  gap: 26px;
  place-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.GalleryContainer .imgProjectContainer{
  max-width: 300px;
  max-height: 300px;
  border: 1px solid var(--black);
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.GalleryContainer .imgProjectContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}

/*-----------------------Estilos de footer--------------------------------------- */
#pageDetails{
  background-color: var(--black);
  color: var(--gray);
  padding: 30px 15px 15px 30px;
}
.sectionSubtitle{
  padding-bottom: 20px;
  font-size: var(--md);
  text-decoration: underline;
  text-decoration-color: var(--soft-transparent-blue);
  text-decoration-thickness: 5px;
  font-weight: bold;
  text-align: center;
}


/*------------------------------media query-------------------------------------- */


@media (max-width: 395px){
  .navContanier .links{
    position: absolute;
    background-color: var(--black);
    top: 60px;
    width: 150px;
  }
  nav .menu{
    display: block;
  }
  .active {
    display: block;
  }
  .disable {
    display: none;
  }
  .projectsContainer{
    grid-template-columns: repeat(auto-fill, 140px);
  }

  .GalleryContainer{
    grid-template-columns: repeat(auto-fill, 200px);
  }
  #projectDetail{
    margin: 5px;
    height: 100vh;
  }
  .closeContainer{
    top: 0px;
    left: 0px;
  }
}

